<h1>
  <a target="_blank" href="<%= bar.escape('website') %>"><%= bar.escape('name') %></a>
  </h1>

<h2><%= bar.escape('address') %></h2>
<h3><%= bar.escape('number') %></h3>
<div class="card-container group">
    <i class="fa fa-arrow-circle-left fa-2x left"></i>
    <i class="fa fa-arrow-circle-right fa-2x right"></i>
  <div class="cards">
    <% if (bar.get('teams')) { %>
      <% bar.get('teams').forEach(function(team){ %>
        <div class="loyalty-card">
          <% if (team.icon) { %>
            <img src= "<%= team.icon%>&w=72&h=72" alt=""/>
          <%  } else {%>
            <img src= "http://www.iconarchive.com/download/i65370/icons-land/metro-raster-sport/Trophy.ico" alt=""/>
          <% } %>
          <h1>
            <%= team.name %>
          </h1>
          <section class='affiliation'>
            <% if (team.group) { %>
              <% if (team.group_assoc=='Alumni') { %>
                <i class="fa fa-graduation-cap"></i> <a target="_blank" href="<%=team.group_site%>"><%= team.group %></a>
              <% } else { %>
                <i class="fa fa-users"></i> <a target="_blank" href="<%=team.group_site%>"><%= team.group %></a>
              <% }%>
            <%  } %>
          </section>
          <section class='hc_verified'>
            <% if (team.hc_verified) { %>
              <i class="fa fa-trophy"></i>
            <% } %>
          </section>
          <h3>
          Specials
          </h3>
          <p class='specials'>
            <%= team.specials %>
          </p>
        </div>
      <%  })%>
    <% } %>
    <div class="add-card">
      <h1>Add A Team</h1>
    </div>
  </div>
</div>
